@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin: 0;
        padding: 0;box-sizing: border-box;
    }
    
}

@layer components{
    .section-title{
        @apply text-black text-2xl font-medium
    }
}

@layer utilities {
    .center-child{
        @apply flex justify-center items-center
    }
    .trns-1{
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
}
}
