@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        margin: 0;
        padding: 0;box-sizing: border-box;
    }
    
}

@layer components{
    .section-title{
        @apply text-black text-2xl font-medium
    }

    .slider-dots{
        @apply w-4 h-3 border-accent border rounded-full
    }

    .slider-arrow{
        @apply trns-1 w-10 h-10 rounded-full center-child inline-block text-gray-400 z-30 hover:bg-primary hover:text-white
    }
}

@layer utilities {
    .center-child{
        @apply flex justify-center items-center
    }
    .trns-1{
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
}
}
